/* App styles start here */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: */
    line-height: 1.4;
    background-image: url('./components/TodoComponents/img/overlay.png'), url('./components/TodoComponents/img/attractive-backdrop-background-988872.jpg');
    background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
    background-attachment: fixed;
    font-family: 'Jockey One', sans-serif;
}

a{
    text-decoration: none;
    
}

.container{
    /* padding: 0; */
    max-width: 800px;
    margin: 0 auto;
}

